  <section class="content" id="about">
      <div class="block-content" *ngFor="let perfx of cv.perfil">
        <h3 class="block-title">Perfil</h3>
        <h3 class="subheading"> {{ perfx.intro+perfx.nombre }} <br> <strong> {{perfx.profesion}}</strong></h3>
        <p> {{perfx.descripcion}}</p>
        <div class="info-list row" >
            <div class="col-sm-6"><span>Nombre : </span>{{perfx.nombre}} </div>
            <div class="col-sm-6"><span>Fecha de Nacimiento : </span>{{perfx.fecha}}</div>
            <div class="col-sm-6"><span>Dirección : </span>{{perfx.direccion}}</div>
            <div class="col-sm-6"><span>Email : </span>{{perfx.email}}</div>
            <div class="col-sm-6"><span>Telefono : </span>{{perfx.telefono}}</div>
            <div class="col-sm-6"><span>Interes : </span>{{perfx.interes}}</div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Profesional</h3>
          <div *ngFor="let profex of cv.profesional">
            <label class="progress-bar-label">{{ profex.nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ profex.valor }}" aria-valuemin="0" aria-valuemax="100">
                    <span>{{ profex.valor }}%</span>
                </div>
            </div>
        </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Experiencia</h3>
          <div class="timeline experience">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div *ngFor="let expex of cv.experiencia">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4><span>{{ expex.Empresa }}</span> - {{ expex.Cargo }}</h4>
                                    <h5> {{ expex.Fecha }} </h5>
                                </div>
                                <p>{{ expex.Descripcion }}</p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Educación</h3>
          <div class="timeline education">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                        <div *ngFor="let edux of cv.educacion">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>{{ edux.nombre }} </h4>
                                  <h5>{{ edux.fecha }}</h5>
                              </div>
                              <p>{{ edux.descripcion }}</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="block-content">
          <h3 class="block-title">Testimonios</h3>
          <div class="row">
              <div id="liontestimonial" class="owl-carousel owl-theme">
                  <div *ngFor="let testix of cv.testimonio">
                    <div class="item testimonials">
                        <img src="assets\images\testimonials\1.jpeg" alt="">
                        <blockquote>{{ testix.Descripcion }}
                            <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                        </blockquote>
                    </div>
                </div>

              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">simongilr@gmail.com</a>
          </div>
      </div>
  </section>
