<section class="content">
  <div class="block-content">
      <h3 class="block-title">Portafolio</h3>
      <div class="row">
          <div class="col-md-12">
              <div class="portfolio-container row isotope" id="portfolio-container">
                  <!-- WORK 1 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a class="open-project" href="project-1.html">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>Nestlé</h2>
                                      <hr>
                                      <p>View details.</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\001.jpeg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 1 END -->
                  <!-- WORK 2 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                      <a class="open-project" href="project-2.html">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>TIGO</h2>
                                      <hr>
                                      <p>View details.</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\002.jpeg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 2 END -->
                  <!-- WORK 3 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                      <a class="open-project" href="project-3.html">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>SecSel</h2>
                                      <hr>
                                      <p>View details.</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\003.jpeg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 3 END -->
                  <!-- WORK 4 START -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a class="open-project" href="project-4.html">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>HP</h2>
                                      <hr>
                                      <p>View details.</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="assets\images\portfolio\masonry\004.jpeg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- WORK 4 END -->
               
              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12 btn-email">
          <a class="btn lowercase">simongilr@gmail.com</a>
      </div>
  </div>
</section>
